<header>
    <!-- header top start -->
    <div class="header-top theme1 bg-dark py-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 order-last order-sm-first">
                    <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                        <div class="social-network2">
                            <ul class="d-flex">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <span class="icon-social-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <span class="icon-social-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <span class="icon-social-youtube"></span>
                                    </a>
                                </li>
                                <li class="mr-0">
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <span class="icon-social-instagram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="media static-media ms-4 d-flex align-items-center">
                            <div class="media-body">
                                <div class="phone">
                                    <a href="tel:(+84)123456789" class="text-white"><i class="icon-call-out me-1"></i> (+84)123456789</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <nav class="navbar-top pb-2 pb-sm-0 position-relative">
                        <ul class="d-flex justify-content-center justify-content-md-end align-items-center">
                            <li>
                                <a href="#"
                                   id="dropdown1"
                                   data-bs-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Account <i class="ion ion-ios-arrow-down"></i>
                                </a>
                                <ul class="topnav-submenu dropdown-menu"
                                    aria-labelledby="dropdown1">
                                    @if (User.Identity.IsAuthenticated){
                                        @if (User.IsInRole("admin")){
                                            <li><a asp-controller="Accounts" asp-action="Dashboard">My account</a></li>
                                            <li><a asp-controller="Accounts" asp-action="Logout">Log out</a></li>
                                            <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Go to Admin</a></li>
                                        }
                                        else{
                                            <li><a asp-controller="Accounts" asp-action="Dashboard">My account</a></li>
                                            <li><a asp-controller="Accounts" asp-action="Logout">Log out</a></li>
                                        }
                                        
                                    }
                                    else{
                                        <li><a href="/login.html">Login</a></li>
                                        <li><a href="/register.html">Register</a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="#"
                                   id="dropdown2"
                                   data-bs-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    VND ₫ <i class="ion ion-ios-arrow-down"></i>
                                </a>
                                <ul class="topnav-submenu dropdown-menu"
                                    aria-labelledby="dropdown2">
                                    <li class="active"><a href="#">USD $</a></li>
                                    <li><a href="#">VND ₫</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->
    <!-- header-middle satrt -->
    <div id="sticky" class="header-middle theme1 py-15 py-lg-0">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-6 col-lg-2 col-xl-2">
                    <div class="logo">
                        <a href="/">
                            <img src="~/assets/img/logo/logo.png" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                    <ul class="main-menu d-flex justify-content-center">
                        <li class="ml-0">
                            <a href="/" class="ps-0">
                                Home
                            </a>
                     
                        </li>
                        <li class="position-static">
                            <li><a asp-controller="Product" asp-action="Index">Products</a></li>
                        </li>
                        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                        <li><a asp-controller="Home"  asp-action="Contact">Contact Us</a></li>

                    </ul>
                </div>
                <div class="col-6 col-lg-3 col-xl-2">
                    <div class="d-flex align-items-center justify-content-end">
                        <!-- static-media end -->
                        <div class="cart-block-links theme1 d-none d-sm-block">
                            <ul class="d-flex">
                                <li>
                                    <a href="javascript:void(0)" class="search search-toggle">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="position-relative">
                                            <i class="icon-shuffle"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="offcanvas-toggle" href="#offcanvas-wishlist">
                                        <span class="position-relative">
                                            <i class="icon-heart"></i>

                                        </span>
                                    </a>
                                </li>
                                <li class="mr-xl-0 cart-block position-relative">
                                    <a href="/shoppingcart">
                                        <span class="position-relative">
                                            <i class="icon-bag"></i>  
                                        </span>
                                    </a>
                                </li>
                                <!-- cart block end -->
                            </ul>
                        </div>
                        <div class="mobile-menu-toggle theme1 d-lg-none">
                            <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                <svg viewbox="0 0 700 550">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                          id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                          id="bottom"
                                          transform="translate(480, 320) scale(1, -1) translate(-480, -318)"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-middle end -->
</header>